$white: #fff;
$smoke-white: #F0F0F0;
$black: #000;
$light-grey: #F8F8F8;
$green: #23c86c;
$dark-green: #1ca55a;
$grey: #5E5E5E;
$smoke-grey: #b0b0b0;
$background-green: #8DCAAC;
$main-sidebar: #161917;
$second-sidebar: #1B1F1D;

// SVG Icons filter
$grey-filter: invert(85%) sepia(11%) saturate(16%) hue-rotate(324deg) brightness(82%) contrast(89%);
$white-filter: invert(89%) sepia(70%) saturate(2%) hue-rotate(112deg) brightness(109%) contrast(101%);
$green-filter: invert(49%) sepia(100%) saturate(632%) hue-rotate(103deg) brightness(98%) contrast(101%);