@use "./variables";
@use "./global";
@use "./font";

.box {
  background-color: variables.$white;
  margin: 60px 20px 20px 20px;
  width: 100%;
  border-radius: 15px;
  flex-direction: column;
  height: calc(97vh - 45px);
}

.header-text-box {
  margin-top: -45px;

  h1 {
    background-color: white;
    padding: 10px 45px;
    border-radius: 15px;
    font-size: 1.7rem;
  }
}

.content-box {
  padding: 0 45px;
  overflow: auto;
  position: relative;
  height: 100%;
}

.section{
  display: flex;
}

@media screen and (max-height: 800px) {
  .box {
    height: calc(97vh - 50px);
  }
}

@media screen and (max-width: 930px) {
  .box{
    margin: 120px 0 0 0;
  }
}

@media screen and (max-width: 460px) {
  .content-box{
    padding: 0 15px;
  }
}

