@use "./variables";
@use "./global";
@use "./font";

@mixin button-style {
  display: flex;
  border: 2px solid variables.$button-color;
  padding: 4px 22px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  background-color: variables.$transparent;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.input-content {
  display: block;
}

.input-header-text {
  margin: 5px 0 -15px 15px;
  font-size: 1.3rem;
}

.input-text {
  margin-left: 15px;
  font-weight: 600;
}

.input-img-content {
  border: 2px dotted black;
  margin-left: 15px;
  width: 350px;
  height: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;

  img {
    padding: 25px 60px;
    max-width: 350px;
    max-height: 150px;
  }

  &.dragging {
    background-color: variables.$smoke-white;
    border-color: variables.$blue-color;
  }
}

.upload-btn-box {
  display: grid;
  justify-content: center;
  margin: 25px;

  button {
    @include button-style;
  }
}

.file-upload {
  display: none;
}
