@use "./variables";
@use "./global";
@use "./font";

@mixin button-style($border-color) {
  border: 2px solid $border-color;
  background-color: variables.$transparent;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 25px;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}

.input-box {
  width: 400px;
  padding: 15px 25px 15px 15px;
  display: flex;
  flex-direction: column;

  input {
    max-width: 500px;
    width: 100%;
    height: 38px;
    border-radius: 25px;
    border: 1px solid variables.$input-border;
    background-color: variables.$input-background;
    margin-bottom: 5px;
    padding: 5px 15px;
    font-size: 0.95rem;

    &:focus {
      outline: 1px solid variables.$dark-green;
    }
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }
}

.required {
  color: variables.$red-color;
}

.input-img-content-box {
  display: flex;
  gap: 50px;
  flex-flow: wrap;
}

.select-container {
  position: relative;

  select {
    max-width: 500px;
    width: 100%;
    height: 38px;
    border-radius: 25px;
    border: 1px solid variables.$input-border;
    background-color: variables.$input-background;
    margin-bottom: 5px;
    padding: 5px 15px;
    font-size: 0.95rem;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: 1px solid variables.$dark-green;
    }

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    content: url("../assets/icons/AngleDown.svg");
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.8rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    color: variables.$dark-green;
  }
}

#file-upload-text {
  display: flex;
  align-items: center;
  padding: 4px 22px;
  gap: 8px;
  @include button-style(variables.$button-color);

  img {
    width: 20px;
    height: 20px;
  }
}

#preview-uploaded-image,
#preview-uploaded-image2 {
  user-select: none;
}

#header-text2 {
  margin-top: 70px;
  font-size: 1.5rem;
}

.email-input {
  display: flex;
  align-items: center;

  button {
    margin-left: 15px;
    padding: 3px 15px;
    @include button-style(variables.$button-color);
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 1920px) {
  .input-box {
    width: 500px;
  }
}

@media screen and (min-width: 1770px) {
  .input-box {
    width: 450px;
  }
}

@media screen and (max-width: 1630px) {
  .input-box {
    width: 400px;
  }
}