@use "./variables";
@use "./global";
@use "./font";

.sidebar {
  background-color: variables.$main-sidebar;
  height: 100vh;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  -webkit-box-shadow: 6px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 6px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: block;
  user-select: none;
  transition: .4s ease-in-out;
}

.sidebar-logo {
  display: grid;
  justify-content: center;
  padding: 30px 0 3px 0;

  img {
    width: 200px;
  }
}
.active-li {
  filter: variables.$green-filter;
  color: variables.$green;
}

#topBtn {
  margin-bottom: 25px;
}
.sidebar-navbar {
  padding: 25px;
  overflow: auto;

  ul {
    display: block;
  }
  
  ul a{
    text-decoration: none;
  }

  h3 {
    color: variables.$white;
    font-size: 1.1rem;
  }

  ul li {
    display: flex;
    color: variables.$smoke-grey;
    font-size: 1.2rem;
    margin: 5px 5px 5px 15px;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  ul li:hover {
    transition: 0.3s ease;
    color: variables.$green;
    .icon {
      filter: variables.$green-filter;
    }
  }

  ul li:active {
    transform: scale(0.95);
    color: variables.$green;
    .icon {
      filter: variables.$green-filter;
      transform: scale(0.95);
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: variables.$main-sidebar;
    border-radius: 25px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: variables.$sidebar-scrollbar;
    border-radius: 25px;
  }
}

.sidebar-nav {
  margin: 25px 0;

  ul a{
    text-decoration: none;
  }
}
.icon {
  width: 33px;
  height: 30px;
  filter: variables.$grey-filter;
}
#top {
  margin-top: 0;
}
.sidebar-user {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: variables.$second-sidebar;
  height: 80px;
  width: 300px;
  color: variables.$white;
  padding: 25px 15px;
  position: absolute;
  bottom: 0;
}

.sidebar-user-content {
  display: flex;
  align-items: center;

  #su-img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
}

.sidebar-user-text {
  p {
    margin-left: 10px;
    line-height: 15px;
  }

  p#text2 {
    font-size: 0.7rem;
  }

  .username {
    font-size: 0.9rem;
    color: variables.$smoke-grey;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sidebar-user-btn {
  margin-left: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 190px;
}

.action-btn {
  cursor: pointer;
  filter: variables.$white-filter;
  width: 21px;
  transition: 0.3s ease;
  :active {
    transform: scale(0.9);
  }
}

.action-btn:hover {
  filter: variables.$green-filter;
  transition: 0.3s ease;
}

#settings:hover {
  transform: rotate(45deg);
  transition: 0.3s ease;
  filter: variables.$green-filter;
}

.active-settings{
  filter: variables.$green-filter;
}

.responsive-sidebar{
  display: none;
  .bg{
    width: 100%;
    background-color: variables.$main-sidebar;
    position: absolute;
    height: 60px;
    z-index: 999;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    width: 100%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  }
  .menu{
    display: grid;
    justify-content: right;
    width: 50%;
    img{
      width: 20px;
      filter: variables.$white-filter
    }
  }
  .logo{
    display: grid;
    justify-content: left;
    width: 50%;
    img{
      width: 140px;
    }
  }
}

#x{
  display: none;
  width: 20px;
  filter: variables.$white-filter;
  cursor: pointer;
}
#bars{
  cursor: pointer;
  transition: .3s ease-in-out;
}


@media screen and (max-height: 790px) {
  .sidebar-navbar{
    height: 80vh;
  }
}

@media screen and (max-height: 645px) {
  .sidebar-navbar{
    height: 75vh;
  }
}

@media screen and (max-height: 495px) {
  .sidebar-navbar{
    height: 70vh;
  }
}

@media screen and (max-width: 930px) {
  .sidebar{
    position: absolute;
    z-index: 1000;
    left: -100%;
  }
  .responsive-sidebar{
    display: grid;
  }
  .sidebar-logo img#logo{
    display: none;
  }
  .sidebar-logo{
    display: grid;
    justify-content: right;
    padding: 30px 30px 3px 0;
  }
  #x{
    display: grid;
  }
}