@use "./variables";
@use "./global";
@use "./font";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow(
  $x: 0,
  $y: 0,
  $blur: 5px,
  $spread: 4px,
  $color: rgba(0, 0, 0, 0.25)
) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin transition($time: 0.2s) {
  transition: $time ease;
}

body {
  margin: 0;
  height: 100%;
}

section {
  display: flex;
}

.side-img {
  max-height: 100vh;
  width: 50%;
  user-select: none;
}

.side-bar {
  max-height: 100vh;
  width: 50%;
  background-color: variables.$light-grey;
  @include box-shadow(-4px, 0px, 4px, 0px);
}

.logo-box {
  width: 100%;
  @include flex-center;
  margin: 4vh 0 4vh;
}

.logo {
  width: 30%;
  user-select: none;
}

.form-box {
  @include flex-center;
}

.form {
  width: 60%;
  border-radius: 15px;
  padding: 3rem;
  display: block;
  @include box-shadow;

  h1 {
    font-size: 1.9rem;
    font-weight: 500;
  }

  button {
    margin-top: 1.6rem;
    margin-left: 0.5rem;
    width: 93%;
    border: none;
    border-radius: 10px;
    background: variables.$green;
    padding: 8px;
    font-size: 1.1rem;
    color: variables.$white;
    font-weight: 600;
    cursor: pointer;
    @include transition;

    &:hover {
      background: variables.$dark-green;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  p {
    font-size: 1.05rem;
    margin-top: 2rem;
    text-align: center;
  }

  a {
    color: variables.$green;
    @include transition;

    &:hover {
      color: variables.$dark-green;
    }
  }
}

.input {
  margin-bottom: 1rem;
  width: 50%;
  margin-left: 0.5rem;

  input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid variables.$grey;
    background-color: variables.$smoke-white;
    width: 185%;
    border-radius: 5px;
    outline: none;

    &:focus {
      outline: 1px solid variables.$dark-green;
    }
  }
}
