@use "./variables";
@use "./global";
@use "./font";

body {
  background-color: variables.$background-green;
  overflow-y: hidden;
}

// GLOBAL INPUT STYLES
.inputs {
  display: flex;
  width: 100%;
  flex-flow: wrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: variables.$white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: variables.$button-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px variables.$button-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-text {
  display: flex;

  p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 10px;
  }
}

.red{
  color: variables.$red-color;
}

// INFO BOX (Na stránách CreateItem, UpdateItem, ViewItem)
.info-box {
  position: absolute;
  width: 550px;
  max-height: 180px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: variables.$smoke-white;
  padding: 20px 20px;
  right: 0;
  margin-top: 40px;
  display: flex;

  .text-right {
    margin-left: 150px;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .text-right p {
    font-weight: 400;
  }
  .text-right h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .text-left {
    margin-left: 40px;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .text-left p {
    font-weight: 600;
  }
  .text-left h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 800;
  }
}

// SETTINGS STRÁNKA
.myAccount {
  margin-top: 25px;

  h1 {
    font-size: 1.7rem;
  }
  .myAccountBox {
    background-color: variables.$table-backround-color;
    width: 100%;
    max-width: 800px;
    min-width: 350px;
    margin-right: 80px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
  }
  .myAccountImageBox {
    position: relative;
    cursor: pointer;
    top: -10px;
    user-select: none;

    #circleSmallImage {
      position: absolute;
      z-index: 2;
      width: 40px;
      background-color: variables.$green;
      border: 2px solid variables.$black;
      padding: 10px;
      border-radius: 15px;
      bottom: 18px;
      right: -105px;
    }

    #img {
      width: 100px;
      border-radius: 50%;
      border: 2px solid variables.$black;
      position: absolute;
      z-index: 1;
    }
  }
  .myAccountBoxText {
    position: relative;
    left: 130px;
    line-height: 40px;
  }
}
.accSettings {
  margin-top: 25px;

  h1 {
    font-size: 1.7rem;
  }

  .accSettingsBox {
    width: 100%;
    max-width: 800px;
    min-width: 350px;
    border-top: 2px solid variables.$table-backround-color;
    border-bottom: 2px solid variables.$table-backround-color;

    .accSetting {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 10px 0;

      .leftSide {
        width: 50%;
        display: grid;
        justify-content: left;

        h2 {
          margin-bottom: -15px;
          font-weight: 600;
        }
      }

      .rightSide {
        width: 50%;
        display: flex;
        justify-content: right;
      }
    }
  }
}
.btn {
  padding: 4px 28px;
  border-radius: 25px;
  max-width: 175px;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
.btn:active {
  transform: scale(1);
  transition: 0.3s ease;
}
.btn#empty {
  border: 2px solid variables.$button-color;
  background-color: variables.$transparent;
}
.btn#fill {
  border: 2px solid variables.$button-color;
  background-color: variables.$button-color;
  color: variables.$white;
}
.btn#red {
  margin-top: 15px;
  border: 2px solid variables.$red-color;
  background-color: transparent;
  color: variables.$red-color;
}

// INVOICE PAGES
#invoiceProductInput {
  width: 100%;
  height: 38px;
  margin: 5px 0;
  border-radius: 25px;
  border: 1px solid variables.$input-border;
  background-color: variables.$input-background;
  margin-bottom: 5px;
  padding: 5px 15px;
  font-size: 0.95rem;

  &:focus {
    outline: 1px solid variables.$dark-green;
  }
}
.btns {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;

  button {
    padding: 5px 20px;
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: variables.$transparent;
    border-radius: 25px;
    border: 2px solid variables.$green;
    color: variables.$green;

    img {
      filter: variables.$green-filter;
      width: 20px;
    }
    &:hover {
      transform: scale(1.02);
      transition: 0.2s ease;
    }
    &:active {
      transform: scale(1);
      transition: 0.2s ease;
    }
  }
}
.bankText {
  p {
    line-height: 20px;
  }
  a {
    color: variables.$green;
    transition: 0.2s ease;

    &:hover {
      color: variables.$dark-green;
      transition: 0.2s ease;
    }
  }
}
.linkText{
  color: variables.$green;
  transition: 0.2s ease;
  
  &:hover {
    color: variables.$dark-green;
    transition: 0.2s ease;
  }
}
#select-product {
  width: 230px;
  cursor: pointer;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 0.9rem;
  height: 43px;
  background-color: variables.$transparent;
  border-radius: 25px;
  border: 2px solid variables.$green;
  color: variables.$green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 

  &:hover{
    transform: scale(1.03);
    transition: .2s ease;
  }

  option {
    color: variables.$black;
  }
}
#selectTableOption{
  margin-top: 5px;
}
.table th, td {
  padding-right: 2px;
  padding-left: 2px;
}

.status-text{
  font-size: .8rem;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 25px;
  user-select: none;
}
#overdue{
  background-color: variables.$overdue;
}
#paid{
  background-color: variables.$green;
}
#unpaid{
  background-color: variables.$unpaid;
}
#invoiceHeader{
  width: 15%;
  text-align: left;
  padding-left: 20px;
}
#invoiceDescText{
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.status-text-invoice{
  width: 95px;
  text-align: center;
}